
@import"_var";
@import"_vender";
@import"_mixing";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Nunito', sans-serif;
}
.manu{
    width: 100vw;
    height:8rem;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) $main-color;
    color: $text-color;
    line-height: 8rem;
    & .navbar-brand{
        font-size: 1.5rem;
        color: $text-color;
        animation: move 1s linear infinite;
        animation-direction: alternate;
        & .fas{
            font-size: 2.8rem;
        }
    }
    @keyframes move {
        form{
            transform: rotate(8deg);
        }
        to{
            transform: rotate(-9deg);
        }
    }
  
    & .navbar-brand:hover,
    & .navbar-brand:hover > .fas{
        color: $primary-color;
    }
    & .navbar-nav{
        padding-left: 12rem;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 300;
        
        & .nav-item .nav-link{
            padding-right: 2rem;
            color: $text-color;
            
        }
        & .nav-item:last-child > .nav-link{
            padding-right: 0%;
        }
        & {
            color: $text-color;
        }
        & .nav-item:hover > .nav-link{
            color: $primary-color;
        }
     
    } 
    & .my_btn{
        @include btn;
        &:hover{
            @include hovereffect;
        }
    }
    
}

 // headder part
 .header{
    width: 100%;
    height: 80vh;
    background: $main-color;
    & .main_header{
        // width: 100%;
        height: 80vh;
        // background: black;
       @include center-div (flex-start);
       & h1{
           font-size: 6rem;
           color: $text-color;
           margin-bottom: 3rem;
           font-weight: 600;
           line-height: 150%;
           & span{
               color: $primary-color;
           }
       }
       & p{
           font-size: 1.6rem;
           color: $text-color;
           font-weight: 500;
           margin-bottom: 3rem;
       }
       & .main_btn{
           & a{
            @include btn;
            &:hover{
                @include hovereffect;
            }
             
           }
           & .btn_2{
               margin-left: 2rem;
               &:hover{
                @include hovereffect;
                
            }
           }
       }
       
    }
}

// right side image
.my_image{
    display: flex;
    justify-content: center;
    align-items: center;
    & img{
        width: 80%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 3rem;
        filter: drop-shadow(0 1.5rem 1rem rgba(0,0,0,0.8));
        animation: image 10s linear infinite alternate;
    }
    @keyframes image {
       from{
           transform: scale(0.9);
       }
       to{
           transform: scale(1);
       }
    }
}
